* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: whitesmoke;
  --light-gray: rgb(123, 123, 123);
  --translucent-white: rgba(255, 255, 255, 0.7);
  --normal-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(19,19,19);
}

h3 {
  font-size: 16px;
  text-align: center;
  color: rgb(19,19,19);
}

div {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  height: 40vh;
  flex-grow: 1;
  margin: 16px;
  marker: none;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
  aspect-ratio: inherit;
}

p {
  text-align: center;
}